<h1>Scrapping#home</h1>
<p>Find me in app/views/scrapping/home.html.erb</p>

<input type="submit" > <%= link_to "ScrapUrlsPros.new.perform", scrappings_search2_path %>
</input>

<input type="submit" > <%= link_to "ScrapFbPros.new.perform", scrappings_search_path %>
</input>
